html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

html { font-size: 13px; }

body { 
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 12px;
	line-height: 1.8em;
	color: #626262;
	background: #fff;
	padding: 60px 60px 60px 100px;
	width: 600px;
}

a {
	color: #6caad0; 
	text-decoration: none;
}

a:hover {
	color: #ae63c7;
}

#header {
	margin: 0 0 2em 0;
	display: flex;
	align-items:center;
	gap: 10px;
	background-color: #99d8ff;
}
#header h1 {
	position: relative;
}
#header h1 a {
	font: normal 2em Georgia, "Times New Roman", Times, serif;
	color: #000;
}
#header h2 a {
	font: normal 1.5em Georgia, "Times New Roman", "Times", serif;
	color: #000;
}
#header h2 a:hover {
	text-decoration: underline;
}
#header img {
	width: 150px;
	float: left;
	margin-right: 4px;
	border-radius: 50%;
	margin: 10px 4px 10px 10px;
}

#content {
	margin: 0 0 1em 3em;
}

#content p {
	line-height: 1.5em;
	font-size: medium;
	margin-bottom: 1em;
}